// app global css

.backgroundApp{
    background-color: $primary;
}
.custom-bg{
    background-image: linear-gradient(to top, rgba(9,32,63,1) 0%, rgba(83,120,149,1) 100%);
}
.custom-bg-bis{
    background-image: linear-gradient(to right, #1cd8d2, #93edc7);
}
.bgListLayout{
    background: rgba(27,126,247,0.1);
    min-height: 100vh!important;
    padding:0px!important;
}
.loginWallpaper {
    width: 100%;
    height: 100%;
    background: url("../statics/bgEssai.jpeg") no-repeat;
    background-size: 150% 100%;
    background-position: center;
}
.stickyHeader {
    position: sticky;
    background-color: rgba(255, 255, 255, 0.3); /* 
    background-image: linear-gradient(to right, rgba(109, 160, 222, 0.8), rgb(15, 107, 219, 0.8)); */
}
.hr {
    border: white solid 1px;
}

.btnModal {
    flex: 1;
    margin: 0 !important;
}
.cardAction {
    display: flex;
    padding: 0;
    min-height: 50px!important;
}
.cardRadius {
    border-radius: 15px!important;
}
a:active, a:focus {
  outline: 0;
  -moz-outline-style: none;
  text-decoration: none;
}
.homefont {
    font-family: "homefont";
}

@font-face
  font-family homefont
  src url(../statics/fonts/Rounded/SimplyRounded.ttf)


.slide-up-enter-active {
    transition: opacity 0.5s, transform 0.5s;
}
.slide-up-leave-active {
  transition: opacity 0.5s;
}
.slide-up-enter{
    opacity: 0;
    transform: translateY(20%);
}
.slide-up-leave-to {
    opacity: 0;
}
.slide-down-enter-active {
  transition: opacity 0.5s;
}
.slide-down-leave-active {
  transition: opacity 0.5s, transform 0.5s;
}
.slide-down-enter{
    opacity: 0;
}
.slide-down-leave-to {
    opacity: 0;
    transform: translateY(20%);
}


.slide-right-enter-active {
  transition: all .5s ease;
}
.slide-right-leave-active {
  transition: all .2s ease;
}
.slide-right-enter
/* .slide-right-leave-active below version 2.1.8 */ {
  transform: translateX(-400px);
  opacity: 0;
}
.slide-right-leave-to
/* .slide-right-leave-active below version 2.1.8 */ {
  transform: translateX(400px);
  opacity: 0;
}


.slide-left-enter-active {
  transition: all .5s ease;
}
.slide-left-leave-active {
  transition: all .2s ease;
}
.slide-left-enter
/* .slide-left-leave-active below version 2.1.8 */ {
  transform: translateX(400px);
  opacity: 0;
}
 .slide-left-leave-to{
  transform: translateX(-400px);
  opacity: 0;
 }

.page-enter-active,
.page-leave-active {
    transition: opacity 0.5s, transform 0.5s;
}
.page-enter,
.page-leave-to {
    opacity: 0;
    transform: translateY(-20%);
}

.list-enter-active{
    animation: fadein .2s;
}
.list-leave-active {
    animation: fadein .2s reverse;
}


@-webkit-keyframes fadein {
    from {  transform:scale(0) }
    to {  transform:scale(1)}
}

@-moz-keyframes fadein {
    from {  transform:scale(0) }
    to {  transform:scale(1)}
}

@keyframes fadein {
    from {  transform:scale(0) }
    to {  transform:scale(1)}
}


.item-enter-active, .item-leave-active {
    transition: all 0.3s;
}

.item-enter, .item-leave-to { /* .item-leave-active below version 2.1.8 */
    opacity: 0;
    transform: translateX(30px);
}

.fade-enter-active, .fade-leave-active {
    transition: all 0.3s;
    transition-delay: 0.5s;
}

.fade-enter, .fade-leave-to { /* .item-leave-active below version 2.1.8 */
    opacity: 0;
}