// app global css
// "quasar-variables" is a Webpack alias injected by Quasar CLI
@import '~quasar-variables';

.backgroundApp{
    background-color: $primary;
}
.bgListLayout{
    background: rgba(27,126,247,0.1);
    min-height: 100vh!important;
    padding:0px!important;
}
.loginWallpaper {
    width: 100%;
    height: 100%;
    background: url("../statics/bgEssai2.jpeg") no-repeat;
    background-position-x: center;
    background-position-y: 30%;
    background-size: contain 100%;
    -webkit-background-size: contain 100%;
}
.stickyHeader {
    position: sticky;
    background-color: rgba(255, 255, 255, 0.3); /* 
    background-image: linear-gradient(to right, rgba(109, 160, 222, 0.8), rgb(15, 107, 219, 0.8)); */
}
.hr {
    border: white solid 1px;
}

.btnR {
    border-left: solid 1px #f0f0f0;
    flex: 1;
    margin: 0 !important;
    background-color: rgba(255, 166, 166, 0.8) !important;
}
.btnL {
    border-right: solid 1px #f0f0f0;
    flex: 1;
    margin: 0 !important;
}
.cardAction {
    display: flex;
    border-top: solid 1px #f0f0f0;
    padding: 0;
}
.cardRadius {
    border-radius: 15px!important;
}
.homefont {
    font-family: "homefont";
}



@font-face
  font-family homefont
  src url(../statics/fonts/Rounded/SimplyRounded.ttf)




.page-enter-active,
.page-leave-active {
    transition: opacity 0.5s, transform 0.5s;
}
.page-enter,
.page-leave-to {
    opacity: 0;
    transform: translateY(-20%);
}

.list-enter-active{
    animation: fadein .2s;
}
.list-leave-active {
    animation: fadein .2s reverse;
}


@-webkit-keyframes fadein {
    from {  transform:scale(0) }
    to {  transform:scale(1)}
}

@-moz-keyframes fadein {
    from {  transform:scale(0) }
    to {  transform:scale(1)}
}

@keyframes fadein {
    from {  transform:scale(0) }
    to {  transform:scale(1)}
}